[submodule "The-Decremental-Tree"]
	path = The-Decremental-Tree
[submodule "the-oil-tree"]
	path = the-oil-tree
[submodule "Flame-Tree"]
	path = Flame-Tree
[submodule "flame-tree-beta"]
	path = flame-tree-beta
[submodule "gwa-tree"]
	path = gwa-tree
[submodule "Flame-Tree-Rewritten"]
	path = Flame-Tree-Rewritten

[submodule "pringles-collapse-beta"]
	path = pringles-collapse-beta
	url = https://github.com/FlamemasterNXF/ordinal-pringles
	branch = v01-collapse
[submodule "pringles-singularity-beta"]
	path = pringles-singularity-beta
	url = https://github.com/FlamemasterNXF/ordinal-pringles/
	branch = v02-singularity
[submodule "pringles-oc-beta"]
	path = pringles-oc-beta
	url = https://github.com/FlamemasterNXF/ordinal-pringles
	branch = v03-omega
