[submodule "The-Inflation-Tree"]
	path = The-Inflation-Tree
	url = https://github.com/FlamemasterNXF/The-Modding-Tree
	branch = inflation-tree
	update = none
[submodule "The-Decremental-Tree"]
	path = The-Decremental-Tree
	url = https://github.com/FlamemasterNXF/Flames-TMT-Mods
	branch = decremental-tree
	update = none
[submodule "flame-tree-beta"]
	path = flame-tree-beta
	url = https://github.com/FlamemasterNXF/Flames-TMT-Mods/
	branch = flame-tree-testing
	update = none
[submodule "gwa-tree"]
	path = gwa-tree
	url = https://github.com/FlamemasterNXF/Flames-TMT-Mods
	branch = gwa-tree
	update = none
[submodule "Flame-Tree-Rewritten"]
	path = Flame-Tree-Rewritten
	url = https://github.com/FlamemasterNXF/Flames-TMT-Mods
	branch = flame-tree-rewritten
	update = none
[submodule "Flame-Tree"]
	path = Flame-Tree
	url = https://github.com/FlamemasterNXF/Flame-Tree
	branch = main
[submodule "the-oil-tree"]
	path = the-oil-tree
	url = https://github.com/FlamemasterNXF/oil-tree-recovery
	branch = main
[submodule "pringles-sing2-testing"]
	path = pringles-sing2-testing
	url = https://github.com/FlamemasterNXF/ordinal-pringles
	branch = singularity-2
