@font-face {
    font-family: 'Dosis';
    src: url('Dosis-Medium.ttf');
}

* {
    font-family: 'Dosis';
    background-color: rgb(84, 84, 84);
    color: whitesmoke;
    text-align: center;
}

a {
    color:rgb(115, 115, 255);
}

hr {
    border: 1px solid whitesmoke;
}
